<app-header />

<main>
    <ul id="users">
        <li>
            <app-user 
                [project]="projects[0]" (selectproject)="onSelectProject($event)"
            />
        </li>
        <li>
            <app-user 
                [project]="projects[1]" (selectproject)="onSelectProject($event)"
            />
        </li>
        <li>
            <app-user 
                [project]="projects[2]" (selectproject)="onSelectProject($event)"
            />
        </li>
        <li>
            <app-user 
                [project]="projects[3]" (selectproject)="onSelectProject($event)"
            />
        </li>
        <li>
            <app-user 
                [project]="projects[4]" (selectproject)="onSelectProject($event)"
            />
        </li>
        <li>
            <app-user 
                [project]="projects[5]" (selectproject)="onSelectProject($event)"
            />
        </li>
    </ul>

    <app-details [name]="selectedProject?.name"></app-details>
</main>