<app-header />

<main>
    <ul id="users">
        <li>
            <app-user 
                [id]="projects[0].id" 
                [icon]="projects[0].icon" 
                [name]="projects[0].name" />
        </li>
        <li>
            <app-user 
                [id]="projects[1].id" 
                [icon]="projects[1].icon" 
                [name]="projects[1].name" />
        </li>
        <li>
            <app-user 
                [id]="projects[2].id" 
                [icon]="projects[2].icon" 
                [name]="projects[2].name" />
        </li>
        <li>
            <app-user 
                [id]="projects[3].id" 
                [icon]="projects[3].icon" 
                [name]="projects[3].name" />
        </li>
    </ul>
</main>